@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  position: fixed;
}

/* ---------------------------------------------------- */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white;
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.spinner {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  z-index: 99999999;
  opacity: 0.8;
  position: absolute;

  z-index: 99999999999 !important;
}

.spinner-icon {
  width: 80px;
  height: 80px;
  border: solid 10px transparent;
  border-top-color: #ec2029 !important;
  border-left-color: #ec2029 !important;
  border-radius: 50%;

  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -70px;
  position: absolute;
  animation: loading-bar-spinner 0.5s linear infinite;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hcpProfile .spinner-icon {
  top: 30% !important;
}

/* ---------------------------------------------------- */
/* Login page */
.bg {
  background: url("../src/assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.login,
.register {
  width: 85%;
  height: 75vh;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topBar,
.topBarRegister {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 93%;
  align-items: center;
}

.leftTopBar,
.leftTopBarRegister {
  width: 125px;
  /* background-color: #000; */
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftTopBar img,
.leftTopBarRegister img {
  width: 30px;
  height: 30px;
}

.leftTopBar h3 {
  color: #ec2029;
}

.rightTopBar {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.toSignUp {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.rightTopBar .toSignUp:hover {
  text-decoration: underline;
}

.loginContent {
  display: flex;
  width: 93%;
  height: 100%;
  /* background-color: black; */
  margin: auto;
  justify-content: space-between;
  color: #ec2029;
  align-items: center;
}

.loginPart {
  flex-basis: 45%;
}

.loginPart p:nth-child(1) {
  font-size: 45px;
}

.loginPart h1 {
  font-size: 60px;
}

.loginPart p:nth-child(4) {
  font-size: 18px;
  color: #ec2029;
}

.loginPart input {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  width: 450px;
  height: 30px;
  background-color: rgb(244, 244, 244);
}

.loginPart button {
  display: block;
  margin-top: 15px;
  padding: 8px 25px;
  border-radius: 12px;
  font-size: 17px;
  border: none;
  color: white;
  background-color: #ec2029;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.logoPart {
  flex-basis: 35%;
  text-align: center;
}

.logoPart img {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.logoPart h2 {
  color: white;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

/* ---------------------------------------------------- */
/* Register */
.bgRegister {
  background-image: url("../src/assets/bgRegister.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.register {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerPart {
  width: 450px;
  margin: auto;
  text-align: center;
}

.registerPart .top img {
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.registerPart .top h2 {
  font-size: 30px;
}

.registrationInput {
  display: flex;
  padding: 10px 12px;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  align-items: center;
  margin: 35px 0;
  width: 95%;
  box-shadow: 5px 10px 18px #888888;
}

.registrationInput i {
  padding: 5px 15px 0px 8px;
  font-size: 20px;
}

.registrationInput input {
  background-color: transparent;
  border: none;
  font-size: 17px;
  width: 100%;
  outline: none;
}

.signUpBtn {
  width: 100%;
  background-color: #ec2029 !important;
  color: white;
  border: none;
  margin: auto !important;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  transition: all 0.3s ease;
}

.signUpBtn:hover {
  background-color: #e9414a !important;
}

.toSignIn {
  color: black;
  text-decoration: none;
}

.toSignIn:hover {
  text-decoration: underline;
}

/* ---------------------------------------------------- */
/* Home */
/* Sidebar */
.bgHome {
  background-image: url("../src/assets/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  /* width: 15%; */
  width: 335px;
  height: 100vh;
  background-color: #ec2029;
  /* border-top-right-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
  text-align: center;
  position: relative;
}

.sidebar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: 125px;
  height: 95px;
}

.listItems {
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.item {
  padding: 15px 0px 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  /* background-color: white; */
}

.item p {
  margin-left: 15px;
}

.item.active {
  background-color: #f3f4f7 !important;
  color: #ec2029;
}

/* ---------------------------------------------------- */
/* Right Side */
.rightSide {
  width: 100%;
}

/* ---------------------------------------------------- */
/* Header */
.header {
  width: 100%;
  height: 100px;
  background-color: white;
}

.headerDetails {
  width: 95%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.leftDetail {
  width: 450px;
  align-items: center;
  display: flex;
}

.leftDetail h2 {
  margin-left: 15px;
  font-size: 25px;
}

.menu-icon {
  font-size: 30px;
}

.rightDetail {
  width: fit-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.profile-icon {
  font-size: 40px;
  margin-right: 10px;
}

.userDetail {
  text-align: center;
  font-size: 18px;
}

/* ---------------------------------------------------- */
/* Section */
.section {
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 20px;
  position: relative;
}

/* ---------------------------------------------------- */
/* Patient Registration */
.registrationCatWrapper {
  padding: 40px 70px;
  margin: auto;
  width: 60%;
  height: 70%;
  text-align: center;
}

.registrationCatWrapper .gridContainer {
  height: 100%;
  position: relative;
  align-items: center;
  text-align: center;
}

.registrationCatWrapper .gridItem {
  height: 50%;
  text-align: center;
}

.patientRegistration {
  width: 500px;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 20px !important;
  text-align: center;
  padding: 25px 0px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.patientRegistration .backArrow {
  position: absolute;
  top: 35px;
  left: 40px;
}

.patientRegistration h2 {
  font-size: 30px;
}

.patientRegistrationForm {
  width: 85%;
  /* height: 50%; */
  /* background-color: red; */
  margin: auto;
  margin-top: 50px;
  text-align: start;
}

.register-inputField {
  margin-bottom: 35px;
}

.register-inputField label {
  display: block;
  font-size: 22px;
  font-weight: bolder;
}

.register-inputField input {
  width: 98%;
  padding: 7px 7px 7px 0px;
  border: none;
  border-bottom: 1px solid rgb(155, 154, 154);
  font-size: 17px;
  outline: none;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.patientRegistrationForm button {
  width: 100%;
  padding: 10px 3px;
  background-color: #ec2029;
  border-radius: 15px;
  color: white;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.patientRegistrationForm button:hover {
  background-color: #e7424b;
}

/* ---------------------------------------------------- */
/* HCP Profile */
.hcpProfile {
  width: 90%;
  height: 70%;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
}

.leftHcpProfile,
.rightHcpProfile {
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 10px #888888;
}

.leftHcpProfile {
  width: 25%;
  text-align: center;
}

.rightHcpProfile {
  width: 73%;
  position: relative;
}

.rightHcpProfile h1 {
  margin-bottom: 30px;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  margin-bottom: 20px;
}

.profilePhoto img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.profileInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.profileInput input {
  margin-top: 10px;
  padding: 6px 15px;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  font-size: 18px;
  border-radius: 10px;
}

.saveHcpProfile {
  position: absolute;
  bottom: 30px;
  right: 70px;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: lightgreen;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saveHcpProfile:hover {
  color: white;
}

/* ---------------------------------------------------- */
/* Search Patient */
.searchPatient {
  height: 75%;
  background-color: white;
  padding: 20px 0px;
  margin: 0px 25px;
  border-radius: 20px;
  opacity: 0.7;
  box-shadow: 5px 10px 8px #888888;
}

.bar {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.leftBar {
  display: flex;
}

.searchBar {
  width: 250px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  background-color: transparent;
  padding: 3px 20px;
  border-radius: 15px;
  border: 0.5px solid #000;
}

.searchBar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: transparent;
}

.searchBar .searchIcon {
  font-size: 22px;
  cursor: pointer;
}

.filterRoleOption {
  width: 250px;
  height: 40px;
  font-size: 17px;
  background-color: transparent;
  padding: 3px 20px;
  border-radius: 15px;
  border: 0.5px solid #000;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

.bar button {
  font-size: 18px;
  border: 1px solid #ec2029;
  padding: 7px 15px;
  border-radius: 15px;
  color: #ec2029;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.bar button:hover {
  color: white;
  background-color: #ec2029;
}

/* ---------------------------------------------------- */
/* Patient */
.patient {
  width: 95%;
  height: 80%;
  margin: auto;
  border-radius: 20px;
}

.upper-part {
  width: 100%;
  height: 33%;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  box-shadow: 5px 10px 8px #888888;
}

.patientDetails {
  width: fit-content;
  height: fit-content;
  margin-left: 55px;
}

.detail {
  display: flex;
  font-size: 125%;
  margin-bottom: 10px;
  align-items: center;
}

.detail h3 {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.detail p {
  text-align: left;
  margin-left: 20px;
}

.deletePatient {
  margin-right: 50px;
}

.backToPatientList {
  padding: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 17px;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.backToPatientList h4 {
  margin-left: 10px;
  text-decoration: none;
}

.backToPatientList:hover {
  background-color: #000;
  color: white;
}

.deletePatientButton {
  padding: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 17px;
  border: 2px solid #ec2029;
  color: #ec2029;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deletePatientButton h4 {
  margin-left: 10px;
}

.deletePatientButton:hover {
  background-color: #ec2029;
  color: white;
}

.lower-part {
  width: 100%;
  height: 65%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.gridContainer {
  height: 100%;
}

.patientModule,
.monitoringModule,
.registrationModule {
  background-color: white;
  height: 100%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconModule {
  font-size: 300%;
  margin-bottom: 15px;
}

.patientModule img.iconModule {
  width: 50px;
  height: 50px;
  color: #000;
}

.patientModule:hover,
.monitoringModule:hover,
.registrationModule:hover {
  transform: scale(1.05);
  color: #ec2029;
}

/* ---------------------------------------------------- */
/* Patient Profile */
.wrapper {
  width: 95%;
  height: 80%;
  margin: auto;
  opacity: 0.85;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  position: relative;
}

.patientProfileForm {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.patientInfo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.patientInfo h3 {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.patientInfo p {
  margin-left: 20px;
  font-size: 20px;
}

.patientInfo input {
  width: 70%;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  font-size: 18px;
}

.gender {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 18px;
  align-items: center;
}

.gender div input {
  width: 16px;
  height: 16px;
  accent-color: red;
  cursor: pointer;
  margin-left: 10px !important;
}

.saveAndCancelButton {
  /* float: right; */
  position: absolute;
  bottom: 20px;
  right: 40px;
  /* text-align: end; */
}

.saveAndCancelButton button {
  padding: 7px 13px;
  border-radius: 15px;
  margin-right: 15px;
  margin-top: 0px;
  outline: none;
  border: none;
  font-size: 17px;
  color: black;
  cursor: pointer;
  width: 90px;
}

.saveAndCancelButton button:hover {
  color: white;
}

.saveProfile {
  background-color: lightgreen;
}

.cancelProfile {
  background-color: #ec2029;
}

.verifyBtn {
  background-color: #e3e3e3;
  color: #000 !important;
}

.verifyBtn:hover {
  color: white !important;
}

/* ---------------------------------------------------- */
/* Medical Condition */
.addMedicalConditionInput {
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  width: 300px;
  margin-top: 5px;
}

.addMedicalConditionBtn {
  margin-left: 10px;
  padding: 7px 13px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.medicalConditionForm {
  width: 100%;
  height: 60%;
  /* background-color: red; */
  overflow-y: scroll;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.checkbox-yesOrNo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-yesOrNo h3 {
  width: 350px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.yesOrNo-choice {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 18px;
  align-items: center;
}

.yesOrNo-choice div input {
  width: 18px;
  height: 18px;
  accent-color: red;
  margin-left: 20px;
  cursor: pointer;
}

.lastUpdatedBox {
  padding: 7px 16px;
  /* padding-top: 10px !important; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.lastUpdatedBox div {
  display: flex;
  font-size: 16px;
}

.lastUpdatedBox div h4 {
  margin-right: 10px;
}

/* ---------------------------------------------------------- */

/* Allergy */

.allergyForm {
  width: 100%;
  margin-top: 20px;
}

.allergy-choice {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 5px;
}

.allergy-choice input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  accent-color: red;
  cursor: pointer;
}

.allergyExample {
  margin-top: 15px;
  margin-left: 45px;
  font-size: 20px;
}

.allergyExample div {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.allergyExample div label {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.allergyExample div input {
  padding: 7px 15px;
  width: 90%;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  font-size: 18px;
}

/* ------------------------------------------------ */

/* Health Goal */
.healthGoalForm {
  margin-top: 30px;
  height: 62%;
}

.addHealthGoal {
  display: flex;
  justify-content: space-between;
}

.addHealthGoal button {
  padding: 7px 20px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  height: fit-content;
  background-color: rgb(50, 232, 50);
  transition: all 0.3s ease;
}

.addHealthGoal button:hover {
  background-color: lightgreen;
}

.react-datalist-input__container {
  width: 90%;
  position: relative;
}

.react-datalist-input__textbox {
  width: 98%;
  margin-right: 20px;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
}

.react-datalist-input__listbox {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 8px #888888;
  padding: 5px 0px;
  margin-top: 5px;
  width: 100%;
  margin-left: 5px;
  position: absolute;
  z-index: 99999999999999999999;
}

.react-datalist-input__listbox-option {
  padding: 10px 20px;
  cursor: pointer;
  list-style: none;
  transition: all 0.3s ease;
}

.react-datalist-input__listbox-option:hover {
  background-color: #f3f3f3;
}

.healthGoalList {
  margin-top: 30px;
  height: 70%;
  overflow-y: scroll;
}

.healthGoalList div {
  margin-bottom: 13px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.healthGoalList div input {
  margin-right: 15px;
  margin-left: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: lightgreen;
}

.eachGoal {
  position: relative;
}

.eachGoal .deleteGoalIcon {
  position: absolute;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.eachGoal svg:hover {
  transform: scale(1.2);
  color: #ec2029;
}

.agreeToHealthGoal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 30px;
  font-size: 20px;
}

.agreeToHealthGoal input {
  margin-right: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: red;
}

.dropdown {
  width: 90%;
  user-select: none;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 12px 20px;
  background: #fff;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 15px;
  font-size: 18px;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 5px 10px 8px #888888;
  font-weight: 500;
  color: #333;
  width: 98.5%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
  transform: scale(1.03);
}

/* ------------------------------------------------ */

/* Risk Scoring */
.riskScoring {
  width: 95%;
  height: 80%;
  margin: auto;
  background-color: transparent;
  position: relative;
}

.backArrow {
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  left: 120px;
  top: 85px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backArrow:hover {
  transform: scale(1.2);
}

.riskScoringTools {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height: 80%;
}

.risk-tool {
  width: 285px;
  height: 325px;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.risk-tool:hover {
  transform: scale(1.05);
}

.tool-name {
  text-align: center;
  margin-bottom: 20%;
  font-size: 20px;
}

.result-risk {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  /* margin-bottom: 20% !important; */
  font-size: 22px;
  width: 80%;
  height: 100px;
  margin: auto;
}

.result-risk svg {
  width: 15%;
  font-size: 18px;
}

.result-risk h4 {
  margin-left: 15px;
  text-align: left;
}

.assess {
  width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 140%;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.assess p {
  display: flex;
  align-items: center;
  text-align: center;
}

.assess svg {
  margin-left: 10px;
}

/* ------------------------------------------------ */

/* Risk Scoring */
.strokeRiskForm {
  padding-top: 15px;
}

.risk-result {
  font-size: 19px;
  padding-top: 40px;
}

.bleedingRisk .risk-result {
  padding-top: 30px !important;
}

.warfarinQualityForm {
  padding-top: 25px !important;
}

.warfarinQuality .checkbox-yesOrNo {
  margin-bottom: 15px;
}

.warfarinQuality .risk-result {
  padding-top: 30px !important;
}

.warfarinQuality .checkbox-yesOrNo h3 {
  width: 450px;
}

.medicalHistory {
  position: relative;
}

.infoCircle {
  position: absolute;
  top: 2px;
  left: 285px;
  font-size: 20px;
  color: #ec2029;
}

.infoCircle.strokeRisk {
  left: 175px;
}

/* ------------------------------------------------ */

/* Current medication */
.medicationLeftHeader {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.medicationLeftHeader div {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #000;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
}

.medicationLeftHeader div:hover {
  background-color: black;
  color: white;
}

.medicationLeftHeader img.iconModule {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  margin-top: 15px;
}

.alertDot {
  position: absolute;
  top: -13px;
  right: -7px;
  font-size: 27px;
  color: #ec2029;
  animation: blink 0.5s steps(1, end) infinite;
}

.alertDot.sidebarItem {
  color: lightgreen !important;
  position: relative;
  top: -10px;
  right: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.saveOrCancelBtBtn,
.saveOrCancelMedBtn {
  position: absolute;
  bottom: 18px !important;
  right: 35px;
  display: flex;
}

.addAndDeleteMedicationButton,
.addAndDeleteBtButton,
.addAndDeleteHemoglobinButton {
  position: absolute;
  bottom: 20px;
  /* right: 35px; */
  left: 50px;
  display: flex;
}

.addAndDeleteMedicationButton svg,
.addAndDeleteBtButton svg,
.addAndDeleteHemoglobinButton svg {
  padding-right: 5px;
  font-size: 17px;
}

.addAndDeleteMedicationButton button,
.addAndDeleteBtButton button,
.addAndDeleteHemoglobinButton button,
.saveOrCancelMedBtn button,
.saveOrCancelBtBtn button {
  padding: 6px 13px;
  border-radius: 15px;
  margin-right: 15px;
  margin-top: 0px;
  outline: none;
  border: 1px solid transparent;
  font-size: 17px;
  color: white;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
}

.addMedication,
.addBt,
.addHb {
  background-color: rgb(68, 228, 68);
  transition: all 0.3s ease;
}

.addMedication:hover,
.addBt:hover,
.addHb:hover {
  border: 1px solid rgb(68, 228, 68);
  background-color: white;
  color: rgb(68, 228, 68);
}

.deleteMedication,
.deleteBt,
.deleteHb {
  background-color: red;
  transition: all 0.3s ease;
}

.deleteMedication:hover,
.deleteBt:hover,
.deleteHb:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
}

.saveMedication,
.saveBt,
.saveHb {
  padding: 0 23px !important;
  background-color: #000;
  transition: all 0.3s ease;
}

.saveMedication:hover,
.saveBt:hover,
.saveHb:hover {
  border: 1px solid #000;
  background-color: white;
  color: #000;
}

.medBackBtn,
.btBackBtn,
.hbBackBtn {
  background-color: rgb(187, 187, 187);
  color: black !important;
  transition: all 0.3s ease;
}

.medBackBtn svg,
.btBackBtn svg,
.hbBackBtn svg {
  font-size: 23px;
  padding-right: 5px;
}

.medBackBtn:hover,
.btBackBtn:hover,
.hbBackBtn:hover {
  border: 1px solid lightgray;
  background-color: white;
  color: black !important;
  border: 1px solid #000;
}

.medicationForm,
.hemoglobinForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
  z-index: 9999999999;
  transform: scale(0);
}

.medicationForm.popup,
.hemoglobinForm.popup {
  transform: scale(1);
}

.addOrEditMedicationForm,
.addOrEditHemoglobinForm {
  width: fit-content;
  height: fit-content;
  overflow-y: scroll;
  border-radius: 20px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #000; */
  box-shadow: 5px 10px 18px #888888;
  border: none;
  background-color: rgb(250, 250, 250);
  padding: 20px 30px;
  transition: all 0.5s ease;
}

.closeForm {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.closeForm:hover {
  transform: scale(1.2);
}

.medicationDatalistInput .react-datalist-input__listbox {
  position: absolute;
  top: 95px;
  height: 250px;
  overflow: scroll;
}

.addOrEditMedicationForm h1,
.addOrEditHemoglobinForm h1 {
  padding: 5px 15px;
  text-align: center;
}

.addOrEditMedicationForm div,
.addOrEditHemoglobinForm div {
  padding: 13px 0px;
  display: flex;
  flex-direction: column;
}

.addOrEditMedicationForm div label,
.addOrEditHemoglobinForm div label {
  font-size: 20px;
  padding-bottom: 10px;
}

.addOrEditMedicationForm div input,
.addOrEditHemoglobinForm div input {
  border: none;
  outline: none;
  width: 450px;
  background-color: rgb(240, 240, 240);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
}

.addOrEditMedicationForm div select,
.addOrEditHemoglobinForm div select {
  border: none;
  outline: none;
  width: 480px;
  background-color: rgb(240, 240, 240);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

.addOrEditMedicationForm button,
.addOrEditHemoglobinForm button {
  margin-top: 25px;
  width: 100%;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  border: 1px solid red;
  cursor: pointer;
  background-color: red;
  color: white;
  transition: all 0.3s ease;
}

.addOrEditMedicationForm button:hover,
.addOrEditHemoglobinForm button:hover {
  background-color: white;
  color: red;
}

.noteInput {
  border: none;
  outline: none;
  width: 90%;
  height: 100px;
  background-color: rgb(240, 240, 240);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
  resize: vertical;
}

.medBg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 0.7;
  z-index: 99999999999999999999999;
}

/* ------------------------------------------------ */

/* Blood Thinner */
.bloodThinner {
  width: 95%;
  height: 80%;
  margin: auto;
  opacity: 0.85;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  position: relative;
}

.lastUpdatedBox {
  width: fit-content;
}

.bloodThinnerForm {
  height: 75%;
  margin-top: 20px;
  overflow-y: scroll;
  position: relative;
  /* background-color: #fafafa; */
  padding: 20px 10px;
}

.upperBloodThinner {
  display: flex;
  justify-content: space-around;
}

.upperBloodThinner div {
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #e4e4e4;
  /* background-color: white; */
}

.upperBloodThinner div:hover {
  transform: scale(1.05);
}

.activeMedicine {
  background-color: #ec2029 !important;
  color: white;
}

.lowerBloodThinner {
  margin-top: 20px;
}

.checkboxBloodThinner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px;
  position: relative;
}

.checkboxBloodThinner h3 {
  width: 230px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.choiceWrapper {
  padding-left: 50px;
  width: 75%;
  /* background-color: red; */
  justify-content: space-between;
  display: flex;
}

.choiceWrapper div {
  display: flex;
  align-items: center;
}

.choiceWrapper div input[type="number"] {
  padding: 3px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  width: 30px;
  text-align: center;
}

.checkboxBloodThinner div input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: red;
  margin-right: 10px;
  cursor: pointer;
}

.checkboxBloodThinner p {
  font-size: 18px;
}

.checkboxBloodThinner input[type="text"] {
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px dashed #000 !important;
}

.ttrBtn {
  /* position: absolute;
  top: -30px;
  left: 75px; */
}

.ttrBtn button {
  font-size: 15px !important;
  padding: 7px 15px !important;
  border-radius: 15px !important;
  color: black;
  font-size: 15px;
  background-color: #fff !important;
  border: 2px solid #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ttrBtn button:hover {
  transform: scale(1.05);
}

.selectedClotPreventer {
  margin: 40px 0;
}

.selectedClotPreventer .riskScoringTools .risk-tool {
  /* box-shadow: 0px 5px 8px #888888; */
  /* background-color: #f3f3f3; */
  box-shadow: none !important;
  border: 1px solid #000;
  padding: 25px 15px !important;
}

.tableButton {
  position: fixed;
  top: 175px;
  right: 100px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableButton button {
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tableButton button:hover {
  transform: scale(1.05);
}

/* BT Table */
.bttable {
  width: 95%;
  height: 80%;
  margin: auto;
  opacity: 0.85;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  position: relative;
}

.bloodThinnerTableForm,
.creatinineTableForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
  transform: scale(0);
  z-index: 9999999999;
  /* background-color: white; */
  /* opacity: 1; */
}

.bloodThinnerTableForm.popup,
.creatinineTableForm.popup {
  transform: scale(1);
}

.addOrEditBloodThinnerForm,
.addOrEditCreatinineForm {
  width: 65%;
  height: fit-content;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 18px #888888;
  border: none;
  background-color: rgb(250, 250, 250);
  /* opacity: 1; */
  padding: 20px 30px;
  transition: all 0.5s ease;
}

.addOrEditCreatinineForm {
  width: 30%;
  height: fit-content;
}

.addOrEditBloodThinnerForm h1,
.addOrEditCreatinineForm h1 {
  padding: 5px 15px;
  margin-bottom: 20px;
  text-align: center;
}

.btInputWrapper,
.addOrEditCreatinineForm div {
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
}

.btInputWrapper label,
.addOrEditCreatinineForm div label {
  font-size: 17px;
  padding-bottom: 10px;
}

.btInputWrapper input,
.addOrEditCreatinineForm div input {
  border: none;
  outline: none;
  width: 90%;
  background-color: rgb(240, 240, 240);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
}

.addOrEditBloodThinnerForm button,
.addOrEditCreatinineForm button {
  margin-top: 25px;
  width: 100%;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  border: 1px solid red;
  cursor: pointer;
  background-color: red;
  color: white;
  text-align: center !important;
  transition: all 0.3s ease;
}

.addOrEditBloodThinnerForm button p,
.addOrEditCreatinineForm button p {
  width: 100%;
  text-align: center;
}

.addOrEditBloodThinnerForm button:hover,
.addOrEditCreatinineForm button:hover {
  background-color: white;
  color: red;
}

.btBg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: lightgray;
  opacity: 0.8;
}

.action {
  padding: 5px 25px;
  border-radius: 7px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(7, 112, 248);
  color: white;
  transition: all 0.3s ease;
}

.action:hover {
  background-color: rgb(95, 160, 245);
}

.totalDose {
  width: 100%;
  cursor: pointer;
}

.weeklyDoseData,
.ttrResult {
  z-index: 99999999999999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #000;
}

.weeklyDoseData h3,
.ttrResult h3 {
  padding-bottom: 15px;
}

.weeklyDoseData div,
.ttrResult div {
  display: flex;
  justify-content: space-between;
}

.weeklyDoseData div svg,
.ttrResult div svg {
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}

.weeklyDoseData label,
.ttrResult label {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px;
  /* border-bottom: 1px solid #000; */
}

.weeklyDoseRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
}

.weeklyDoseRow div {
  width: 200px;
  margin-right: 30px;
}

.weeklyDoseRow label {
  font-size: 16px !important;
}

.weeklyDoseRow div span {
  display: flex;
  align-items: center;
}

.weeklyDoseRow div span p {
  padding-left: 10px;
}

.weeklyDoseRow div input {
  width: 150px;
  padding: 5px 10px;
  font-size: 15px !important;
}

.otherDose {
  display: flex;
  align-items: center;
}

.otherDose label {
  font-size: 18px;
}

.otherDose div {
  display: flex;
  padding-left: 15px;
}

.otherDose div input {
  width: 17px;
  /* height: 15px; */
  cursor: pointer;
  accent-color: red;
}

.otherDose div p {
  padding-left: 10px;
}

/* BT Graph */
.btGraph {
  width: 95%;
  height: 80%;
  margin: auto;
  opacity: 0.85;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  position: relative;
}

.btLineGraph {
  width: 100%;
  height: 90%;
  margin-top: 20px;
  font-size: 20px;
}

.btLineGraph canvas {
  height: 500px;
}

/* Data Grid table */
.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
}

/* Patient monitoring */
.patientMonitoring {
  width: 95%;
  height: 80%;
  margin: auto;
  opacity: 0.85;
  border-radius: 20px;
  /* background-color: white; */
  /* box-shadow: 5px 10px 8px #888888; */
  position: relative;
}

.monitoringWrapper {
  padding: 40px 70px;
  margin: auto;
  width: 80%;
  height: 70%;
}

.monitoringWrapper .backArrow {
  left: 140px;
  top: 55px;
}

.monitoringWrapper h1 {
  padding-bottom: 50px;
}

.eachMonitoringPage h1,
.eachMonitoringPage h2 {
  display: flex;
  align-items: center;
}

.eachMonitoringPage h1 svg,
.eachMonitoringPage h2 svg {
  padding-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.eachMonitoringPage h1 svg:hover,
.eachMonitoringPage h2 svg:hover {
  transform: scale(1.05);
  color: red;
}

.displayMode {
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  width: 225px;
}

.displayMode div {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.displayMode div input {
  margin-right: 10px;
  accent-color: red;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.monitoringGraph {
  width: 100%;
  height: 75%;
  margin-top: 20px;
  font-size: 20px;
}

.patientMonitoringDetails {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 55px 50px;
  flex-wrap: wrap;
}

.bodyWeightPage,
.bleedingSymptomPage,
.healthDiaryPage {
  height: 20% !important;
}

.patientMonitoringDetails div {
  display: flex;
  align-items: center;
  background-color: red;
  height: 0px;
}

.patientMonitoringDetails div h3 {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 23px;
}

.patientMonitoringDetails div p {
  width: 70%;
  font-size: 22px;
}

/* Table style */
.notification .MuiDataGrid-columnHeader {
  font-size: 23px;
  padding: 0px 20px !important;
  font-weight: 900;
  /* background-color: rgb(248, 248, 248); */
}

/* .MuiDataGrid-virtualScroller {
  overflow: hidden !important;
} */

.notification .MuiDataGrid-cell {
  padding: 0px 20px !important;
}

.notification .MuiDataGrid-row {
  transition: all 0.3s ease;
  /* background-color: transparent !important; */
}

.notification .MuiDataGrid-row:hover {
  /* background-color: rgb(248, 248, 248); */
  transform: scale(1.01);
}

.notifDetails {
  height: fit-content;
  padding: 20px;
}

.notifDetails h1 {
  padding-bottom: 35px;
}

.patientNotifDetails {
  width: 60%;
  margin: auto;
}

.patientNotifDetails .register-inputField input {
  background-color: white;
}

.backToNotificationMainPage {
  font-size: 40px;
}

.notifButton {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* width: 20%; */
  margin: auto;
}

.notifButton button {
  padding: 7px 18px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}

.approveNotif {
  background-color: lightgreen;
  transition: all 0.3s ease;
}

.approveNotif:hover {
  background-color: rgb(86, 232, 86);
  color: white;
}

.rejectNotif {
  background-color: rgb(255, 73, 73);
  transition: all 0.3s ease;
}

.rejectNotif:hover {
  background-color: red;
  color: white;
}

.MuiDataGrid-row,
.MuiDataGrid-root .MuiDataGrid-cell,
.rendering-zone {
  max-height: none !important;
}

.MuiDataGrid-root .MuiDataGrid-window {
  position: relative !important;
}

.MuiDataGrid-root .MuiDataGrid-viewport {
  max-height: none !important;
}

.MuiDataGrid-root {
  /* height: auto !important; */
}

/* App Analytics */
.pageAnalytics {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  height: 70%;
  font-size: 17px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidePageAnalytics {
  width: fit-content;
  margin: 0px auto;
  /* background-color: red; */
}

.sidePageAnalytics div {
  margin-bottom: 20px;
}

.sidePageAnalytics ul {
  margin-bottom: 20px;
}

.pageCountList li {
  margin-left: 40px;
  margin-bottom: 10px;
}

.pageCountList h4 {
  margin-bottom: 5px;
}

.pageCountList div {
  margin-bottom: 10px !important;
}

.pageCount {
  display: flex;
}

.pageCount p {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding-right: 20px;
}

.pageCount h4 {
  display: flex;
  justify-content: space-between;
  width: 290px;
  padding-right: 20px;
}

.filterDate {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterDate div {
  padding-left: 30px;
  display: flex;
}

.filterDate div p {
  padding-right: 10px;
}

.filterDate select,
.filterDate input {
  padding: 3px 10px;
  border-radius: 10px;
  outline: none;
}
