@media screen and (max-width: 10000px) and (min-width: 1800px) {
  .wrapper {
    height: 85%;
  }

  /* register */
  .registrationCatWrapper {
    padding: 40px 70px;
    width: 65%;
  }

  .registrationCatWrapper .gridContainer {
    width: auto;
  }

  .registrationCatWrapper .gridItem {
    height: 50%;
    text-align: center;
  }

  /* home */
  .searchPatient {
    height: 80%;
  }

  /* patient profile */
  .patientProfileForm {
    height: 600px;
  }

  .patientModule {
    font-size: 20px;
  }

  .iconModule {
    font-size: 55px;
  }

  /* Table */
  .medicationTable {
    height: 90% !important;
  }

  .bloodThinnerTable {
    height: 90% !important;
  }

  .hemoglobinTable {
    height: 70% !important;
  }

  /* Health Goal */
  .healthGoalList {
    height: 100%;
  }

  /* patient monitoring */
  .monitoringWrapper h2 {
    font-size: 28px;
  }

  .monitoringWrapper h3 {
    font-size: 24px;
  }

  /* Blood thinner */
  .bloodThinnerForm {
    height: 80%;
  }

  /* App Analytics */
  .appAnalyticsWrap {
    height: 105%;
  }

  .pageAnalytics {
    font-size: 21px;
  }
}

@media screen and (max-width: 1100px) {
  /* Login */
  .logoPart {
    display: none;
  }

  .loginPart {
    margin: auto;
  }

  /* Home */
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* Login */
  .loginPart {
    margin-top: 40px;
  }
  .loginPart input {
    width: 275px;
    font-size: 15px;
  }

  /* Register */
  .registerPart {
    width: 80%;
    font-size: 13px;
  }

  .registerPart input {
    font-size: 13px;
  }

  .signUpBtn {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  /* Login */
  .topBar {
    flex-direction: column;
    height: 125px;
    /* background-color: black; */
  }

  .privacyPolicyBar {
    height: fit-content;
  }

  .loginPart p:nth-child(1) {
    font-size: 35px;
  }

  .loginPart h1 {
    font-size: 50px;
  }

  .loginPart p:nth-child(4) {
    font-size: 15px;
  }

  .loginMsg {
    font-size: 14px;
    color: black !important;
  }

  .loginPart button {
    padding: 6px 20px;
    font-size: 14px;
  }

  /* Register */
  .registrationInput i {
    font-size: 17px;
    padding: 3px 12px 0px 6px;
  }
}
